@model CustomerFeedbackSystem.Models.Feedback

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Feedback</h2>

<h3>Are you sure you want to delete this feedback?</h3>
<div>
    <h4>Feedback</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmissionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmissionDate)
        </dd>
    </dl>
    <form id="deleteForm">
        @Html.AntiForgeryToken()
        <input type="hidden" name="feedbackId" value="@Model.FeedbackId" />
        <button type="button" id="deleteButton" class="btn btn-danger">Delete</button>
        <a href="@Url.Action("Index", "Feedback")" class="btn btn-light">Back to List</a>
    </form>
</div>

<div id="loadingSpinner" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1050;">
    <div class="spinner"></div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#deleteButton').click(function () {
                if (confirm("Are you sure you want to delete this feedback?")) {
                    $('#loadingSpinner').show(); // Show the spinner
                    deleteFeedback();
                }
            });

            function deleteFeedback() {
                var feedbackId = $('input[name="feedbackId"]').val(); // Get feedback ID from hidden input
                var token = $('input[name="__RequestVerificationToken"]').val(); // Get the antiforgery token

                $.ajax({
                    url: '@Url.Action("DeleteConfirmed", "Feedback")',
                    type: 'POST',
                    data: {
                        id: feedbackId,
                        __RequestVerificationToken: token
                    },
                    success: function (response) {
                        $('#loadingSpinner').hide(); // Hide the spinner
                        Toastify({
                            text: "Feedback deleted successfully!",
                            backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
                            className: "info",
                            position: "center",
                            close: true,
                            duration: 3000
                        }).showToast();
                        setTimeout(function () {
                            window.location.href = '@Url.Action("Index", "Feedback")'; // Redirect to the Feedback list page
                        }, 3000); // Delay redirection to allow the user to read the toast message
                    },
                    error: function (xhr) {
                        $('#loadingSpinner').hide(); // Hide the spinner
                        Toastify({
                            text: "Error deleting feedback: " + xhr.responseText,
                            backgroundColor: "linear-gradient(to right, #ff5f5f, #d62929)",
                            className: "info",
                            position: "center",
                            close: true,
                            duration: 5000
                        }).showToast();
                    }
                });
            }
        });
    </script>
}
